# Backend environment variables

DATABASE_URL="postgresql://neondb_owner:npg_nQrZS90GWYxN@ep-winter-flower-ap7g4ytg-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Groq API settings

GROQ_API_KEY="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"

GROQ_API_URL="https://api.groq.com/openai/v1/chat/completions"